{% extends 'main/base.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}
<h1>Home Page</h1>
<div class="container">
    <div>
        <a href="/create/patient" class="text-decoration-none link-secondary">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Create patient</h5>
              </div>
            </div>
        </a>
    </div>
    <div>
        <a href="/create/diagnosis" class="text-decoration-none link-secondary">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Create diagnosis</h5>
              </div>
            </div>
        </a>
    </div>
    <div>
        <a href="/create/appointment" class="text-decoration-none link-secondary">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Create appoitnment</h5>
              </div>
            </div>
        </a>
    </div>
    <div>
        <a href="/create/hospital" class="text-decoration-none link-secondary">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Create hospital</h5>
              </div>
            </div>
        </a>
    </div>
    <div>
        <a href="/create/branch" class="text-decoration-none link-secondary">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Create branch</h5>
              </div>
            </div>
        </a>
    </div>
        <div>
        <a href="/create/room" class="text-decoration-none link-secondary">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Create room</h5>
              </div>
            </div>
        </a>
    </div>
        <div>
        <a href="/create/diagnosiscode" class="text-decoration-none link-secondary">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Create diagnosis code</h5>
              </div>
            </div>
        </a>
    </div>
        <div>
        <a href="/view/patient" class="text-decoration-none link-secondary">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">View patients</h5>
              </div>
            </div>
        </a>
    </div>
        <div>
        <a href="/view/appointment" class="text-decoration-none link-secondary">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">View appointments</h5>
              </div>
            </div>
        </a>
    </div>
    <div>
        <a href="/sign_up" class="text-decoration-none link-secondary">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Create user</h5>
              </div>
            </div>
        </a>
    </div>
</div>
{% endblock %}