{% extends 'main/base.html' %}
{% block title %}Patient{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="card mt-2">
    <div class="card-header"><strong>{{ patient.first_name }}  {{ patient.last_name }}</strong></div>
    <div class="card-body d-flex flex-row justify-content-between">
        <div>
            ID Number: {{patient.id_number}}<br>
            Sex: {% if patient.sex %} Male {% else %} Female {% endif %}<br>
            Telephone: {{patient.telephone}}<br>
            Blood Group: {{patient.blood_group}}<br>
            Chronic diseases: <br>
                {{patient.chronic_diseases}} <br>
            Medical allergies: <br>
                {{patient.medical_allergy}} <br>
            Address: {{patient.address_city}} {{patient.address_number}} <br>
            Status: {{patient.status}} <br>
        </div>
        <div>
            <div>
                <a class="btn btn-success" href="{% url 'patient-edit' patient.id %}">Edit</a>
            </div>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" name="post-id" value="{{patient.id}}">Delete</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}